<div class="content is-normal">
  <h1 class="title">Novo Comentário:</h1>
</div>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>

<div class="field">
    <%= form.label 'Título', class: 'label' %>
    <div class="control">
      <%= form.text_field :commenter, class: 'input' %>
    </div>
</div>
 <div class="field">
    <%= form.label 'Autor', class: 'label' %>
    <div class="control">
      <%= form.text_field :author, class: 'input' %>
    </div>
</div>
 <div class="field">
    <%= form.label 'Conteúdo', class: 'label' %>
    <%= form.text_area :body, class:"textarea is-success" %>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>


