<p id="notice"><%= notice %></p>

<br><br>
<h1 class="title">Publicações</h1>
<br>
 
<% @articles.each do |article| %>
  <div class="columns">
    <div class="column is-four-fifths">
 
      <div class="card">
        <div class="card-image">
          <figure class="image is-full is-marginless is-3by1">
        <%= image_tag(article.featured_image) if article.featured_image.attached? %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <a href="<%= article_path(id: article.id) %>">
              <p class="title is-4"><%= article.body %></p></a>
              <p class="title is-4"><%= article.author %></p></a>
               <h5>Data da publicação: <%= article.created_at.strftime("%d/%m/%Y") %></h5>
              <hr>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <%= link_to 'Ver', article, :class => "btn btn-outline-primary" %>
                    <%= link_to 'Editar', edit_article_path(article), :class => "btn btn-outline-primary" %>
                    <%= link_to 'Apagar', article, method: :delete, data: { confirm: 'Are you sure?' },
                     :class => "btn btn-outline-primary" %>
                  </div>
              <hr>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </tbody>
<% end %>


