<p id="notice"><%= notice %></p>

<br><br>
<figure class="image is-3by1">
    <%= image_tag(@article.featured_image) if @article.featured_image.attached? %>
</figure><br>
<div class="columns">
  <div class="column">
    <p class="title"><%= @article.title %></p>
  </div>
</div><br><br>
<div class="columns">
  <div class="column is-three-quarters"><%= @article.body %>
  <div class="column is-three-quarters">Autor da Publicação: <%= @article.author %>
</div>

<ul>
<br>
<div class="btn-group" role="group" aria-label="Basic outlined example">
<%= link_to 'Editar', edit_article_path(@article), :class => "btn btn-outline-primary" %>
<%= link_to 'Voltar', articles_path, :class => "btn btn-outline-primary" %>
</div>
</ul>
<hr>

<h2>Comentários !!!</h2>
<%= render @article.comments %>

<%= render 'comments/form' %>

